.login-box {
  width: 350px;
  height: 500px;
  padding: 0 50px;
  background-color: rgba(248, 249, 250, 0.87) ;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 250px;

  border-radius: 5px;

  text-align: center;

  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.473);

}

.login {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: rgba(38, 93, 241,0.8);
}



.primary-button {
  width: 300px;
  height: 40px;
  background-color: rgba(38, 93, 241,0.8);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 5px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.05);
  letter-spacing: 2px;

  text-transform: uppercase;

  border: none;
}

.primary-button:hover {
  width: 300px;
  height: 40px;
  background-color:rgba(38, 93, 241,0.8);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 5px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.10);
  letter-spacing: 2px;

  cursor: pointer;
  text-transform: uppercase;

  border: none;
}

.primary-button:active {
  width: 300px;
  height: 40px;
  background-color: rgba(38, 93, 241,0.8);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 5px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.01);
  letter-spacing: 2px;

  text-transform: uppercase;

  border: none;
}

p{
  font-size: 30px;

}

legend{
  font-size: 28px;
  font-style: italic;
}
#logon {
  width: 300px;  /* 调整宽度 */
  height: 40px;  /* 调整高度 */
  border-radius: 5px;
  border: 1px solid rgba(38, 93, 241,0.8);
  background-color: rgba(248, 249, 250, 0.20) ;

}

#pass {
  width: 300px;  /* 调整宽度 */
  height: 40px;  /* 调整高度 */
  border-radius: 5px;
  border: 1px solid rgba(38, 93, 241,0.8);
  background-color: rgba(248, 249, 250, 0.20) ;
  margin-top: 20px;
}
/* 调整错误消息的字体大小 */
.form-error {
  font-size: 14px;
  color: rgba(38, 93, 241,0.8);
}
#logon-error {
  /* 调整左边距 */
  margin-left: -100px;
}
#pass-error {
  /* 调整左边距 */
  margin-left: -40px;
}
/* 调整按钮的字体大小 */
.primary-button {
  margin-top: 20px;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

/* 调整链接的字体大小 */
a {
  font-size: 18px;
  color: rgba(38, 93, 241,0.8);
  text-decoration: none;
}
.form-label{
  font-size: 18px;
}

#forgot {
  display: inline-block;
  margin-bottom: 10px;
}