
.sports-container{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 10px 50px;
    column-gap: 20px;
    row-gap: 70px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.sports{
    display:none; 
}

.sports:nth-child(1),
.sports:nth-child(2),
.sports:nth-child(3),
.sports:nth-child(4){
    display:inline-block;
} 

#check-more{
    display:inline-block;
    padding:2px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    cursor: pointer;
}
#check-more:hover{
    background-color:cornflowerblue;
    border-color: cornflowerblue;
    color: #fff;
}
.icon {
    color:black;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
a {
    color:white;
	text-decoration: none;
	}
a:hover {
        text-decoration: none;
}
 