.text {
  color: #f8f9fa;
  letter-spacing: 2px;
}


.login-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.user-login {
  background-color: #339af0;
  flex-grow: 0.75;
  height: 100vh;
  padding-left: 100px;
  padding-top: 300px;
  border-radius: 20px;
}

.user-login:hover {
  background-color: #748ffc;
  border-radius: 20px;
}


.admin-login {
  background-color: #339af0;
  flex-grow: 1;
  height: 100vh;
  padding-left: 100px;
  padding-top: 300px;
  border-radius: 20px;
}

.admin-login:hover {
  background-color: #748ffc;
  border-radius: 20px;
}

a:link {
  background-color: #339af0;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 10px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.068);
  letter-spacing: 3px;

  border: 2px solid #f8f9fa;
}

a:visited {
  background-color: #339af0;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 10px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.068);
  letter-spacing: 3px;

}

a:hover {
  background-color: #339af0;
  padding: 11px 22px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 10px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.15);
  letter-spacing: 3px;

}

a:active {
  background-color: #339af0;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: #f8f9fa;
  border-radius: 10px;

  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(33, 37, 41, 0.05);
  letter-spacing: 3px;

}



.introduction h2 {
  margin-top: 200px;
  text-transform: uppercase;
  text-align: center;
}

.event1 {
  padding: 5px 10px;
  background-color: #e9ecef;
  margin: 0 400px;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  border-radius: 20px;
}

.event2 {
  padding: 5px 10px;
  background-color: #e9ecef;
  margin: 0 400px;
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  border-radius: 20px;
}

.event3 {
  padding: 5px 10px;
  background-color: #e9ecef;
  margin: 0 400px;
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.one-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.intros {
  background-color: #339af0;
  width: 80%;
  height: 500px;
  border-radius: 5px;
  padding: 0 20px 0;
  color: #f8f9fa;

  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.intros h4 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}

.intros img {
  width: 400px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);

}

/* FAQ */
.accordion {
  width: 80%;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 5px 24px 5px;

  background-color: #339af0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;

  color: #f8f9fa;
}

.number,
.text-faq {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #f8f9fa;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #51cf66;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #f8f9fa;
}