
    /* 样式可以根据自己的需求进行调整 */
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    table {
      margin: 20px auto;
      border-collapse: collapse;
      border: none;
    }
    th, td {
      border: none;
      padding: 10px;
    }
    th {
      background-color: #fff;
    }
    td button {
      width: 100%;
      height: 100%;
      border:1px solid #334;
      border-radius:15px;
      background-color:#fff;
      cursor: pointer;
    }
    td button:hover{
        background-color:cornflowerblue;
        border-color: cornflowerblue;
        color: #fff;
    }
    .measureDate{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .nav-container {
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #212529;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        margin-right: 100px;
        margin-top: 20px;
      }
      
      .logo {
        align-self: flex-start;
        margin-right: 1000px;
      }
      
      
      nav a {
        color: #339af0;
        text-decoration: none;
        font-size: 20px;
      }
      .toptext{width: 1000px;
              height: 50px;
              position: absolute;
              text-align: center;
      }
    #myInput1 {
        background-image: url('https://static.jyshare.com/images/mix/searchicon.png'); /* 搜索按钮 */
        background-position: 10px 12px; /* 定位搜索按钮 */
        background-repeat: no-repeat; /* 不重复图片 */
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    #myInput2 {
        background-image: url('https://static.jyshare.com/images/mix/searchicon.png'); /* 搜索按钮 */
        background-position: 10px 12px; /* 定位搜索按钮 */
        background-repeat: no-repeat; /* 不重复图片 */
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    .shadow_css {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 10;
        /* 为mozilla firefox 设置透明度  */
        -moz-opacity: 0.6;
        /* 设置透明度 */
        opacity: .60;
        /* 为IE 设置透明度  */
        filter: alpha(opacity=66);
    }

    .window_css {
        display: none;
        position: absolute;
        top: 20%;
        left: 25%;
        width: 50%;
        height: 60%;
        border: 3px solid honeydew;
        background-color: aliceblue;
        z-index: 11;

    }
    .property a{
        color:#339af0;
    }

    .remind{
       color: cornflowerblue;
    }
